/**
 * supportedplugins.less
 * The stylesheet for Achievements' "Supported Plugins" admin screen
 */
/**
 * Snippets of reusable CSS to develop faster and keep code readable.
 *
 * Taken from Twitter Bootstrap http://twitter.github.com/bootstrap/
 * under the Apache License, Version 2.0.
 *
 * Custom Achievements styles at bottom of files.
 */
/**
 * UTILITY MIXINS
 */
/**
 * Clearfix
 *
 * For clearing floats like a boss h5bp.com/q
 */
/**
 * IE7 inline-block
 */
/**
 * Sizing shortcuts
 */
/**
 * Placeholder text color
 */
/**
 * CSS3 PROPERTIES
 */
/**
 * User select
 *
 * For selecting text on the page
 */
/**
 * BACKGROUNDS
 */
/**
 * Mixin for generating button backgrounds
 */
/**
 * Universal toolbar element styles
 */
.wp-admin input,
.wp-admin select {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  font-size: 12px;
  height: 24px;
  line-height: 12px;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  box-shadow: none;
  display: inline-block;
  font-family: sans-serif;
  margin: 0;
  outline: 0;
  padding: 2px 3px;
  vertical-align: top;
}
.wp-admin label select {
  display: block;
}
.wp-admin select {
  -webkit-appearance: textfield;
  width: 220px;
}
.wp-admin select:focus {
  box-shadow: none;
}
.wp-admin input[type="search"] {
  -webkit-appearance: none;
  width: 210px;
}
select.dpa-ff-hack {
  background-image: url('../admin/images/select_arrow.gif');
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 20px;
}
/**
 * General page styles to fit in with the WordPress Admin UI
 */
#poststuff {
  margin-top: 18px;
}
/**
 * Everything to do with the search/filter Toolbar
 */
.detail,
.list,
.grid,
.dpa-toolbar-slider {
  display: none;
}
#post-body-content .current {
  display: block;
}
#post-body-content .dpa-toolbar-slider.current {
  background: none;
  display: list-item;
}
#dpa-toolbar-search {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
}
#dpa-toolbar-filter {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 15%;
}
#dpa-toolbar-filter:hover {
  cursor: pointer;
}
#dpa-toolbar-views {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  border: 1px solid #cccccc;
  font-size: 12px;
  height: 24px;
  line-height: 12px;
  display: inline-block;
  margin: 0 0;
  padding-right: 2px;
  width: 60%;
}
#dpa-toolbar-views li {
  float: right;
  height: 100%;
  margin: 0;
  padding: 0;
}
#dpa-toolbar-views li a {
  display: block;
  height: 18px;
  margin: 2px 0 4px;
}
#dpa-toolbar-views li.dpa-toolbar-slider input {
  margin: 0 10px 0 0;
}
#dpa-toolbar-views li.dpa-toolbar-slider label {
  display: inline-block;
  padding: 6px 10px 4px 9px;
}
#dpa-toolbar-views p.label {
  border-left: 1px solid #cccccc;
  display: block;
  margin: 0 10px 0 0;
  padding: 6px 0 4px 10px;
}
#dpa-toolbar-views .detail,
#dpa-toolbar-views .list,
#dpa-toolbar-views .grid {
  height: 18px;
  width: 18px;
  background: url('../images/admin_sprites.png') 0px 0px no-repeat;
  margin-left: 2px;
}
#dpa-toolbar-views .detail:hover,
#dpa-toolbar-views .list:hover,
#dpa-toolbar-views .grid:hover {
  background: url('../images/admin_sprites.png') 0px -20px no-repeat;
}
#dpa-toolbar-views .current {
  background: url('../images/admin_sprites.png') 0px -20px no-repeat;
}
#dpa-toolbar-wrapper {
  font-size: 0;
}
#dpa-toolbar-wrapper > :first-child {
  border-right: 0;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
}
#dpa-toolbar-wrapper > :last-child {
  border-left: 0;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
}
.grid {
  *zoom: 1;
  margin: 0 auto;
}
.grid:before,
.grid:after {
  display: table;
  content: "";
}
.grid:after {
  clear: both;
}
.grid .plugin {
  float: left;
  height: 125px;
  width: 386px;
  margin: 0 10px 10px 0;
}
