/**
 * supportedplugins.less
 * The stylesheet for Achievements' "Supported Plugins" admin screen
 */
/**
 * Snippets of reusable CSS to develop faster and keep code readable.
 *
 * Taken from Twitter Bootstrap http://twitter.github.com/bootstrap/
 * under the Apache License, Version 2.0.
 *
 * Custom Achievements styles at bottom of files.
 */
/**
 * UTILITY MIXINS
 */
/**
 * Clearfix
 *
 * For clearing floats like a boss h5bp.com/q
 */
/**
 * IE7 inline-block
 */
/**
 * Sizing shortcuts
 */
/**
 * Placeholder text color
 */
/**
 * CSS3 PROPERTIES
 */
/**
 * User select
 *
 * For selecting text on the page
 */
/**
 * BACKGROUNDS
 */
/**
 * Mixin for generating button backgrounds
 */
.wp-admin input,
.wp-admin select,
.detail > ul {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #464646;
  font-size: 13px;
  height: 28px;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  box-shadow: none;
  display: inline-block;
  font-family: sans-serif;
  margin: 0;
  outline: 0;
  padding: 0 0;
  vertical-align: top;
}
.wp-admin label select {
  display: block;
}
.wp-admin select {
  -webkit-appearance: textfield;
  width: 220px;
}
.wp-admin select:focus {
  box-shadow: none;
}
.wp-admin input[type="search"] {
  -webkit-appearance: none;
  width: 210px;
}
select.dpa-ff-hack {
  background-image: url('../admin/images/select_arrow.gif');
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 20px;
}
/**
 * General page styles to fit in with the WordPress Admin UI
 */
#post-body-content {
  margin: 18px 0;
}
#post-body-content #post-body-content .dpa-toolbar-slider.current {
  background: none;
  display: list-item;
}
#post-body-content .current {
  display: block;
}
/**
 * Everything to do with the search/filter Toolbar
 */
.detail,
.list,
.grid,
.dpa-toolbar-slider {
  display: none;
  margin-top: 10px;
}
body #dpa-toolbar-slider {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #FFF;
  border: 1px solid #464646;
  cursor: pointer;
  float: left;
  height: .8em;
  margin: 6px 20px 4px 10px;
  position: relative;
  width: 130px;
}
body #dpa-toolbar-slider a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #000;
  background-color: #FFF;
  cursor: move;
  height: 1.2em;
  margin: 0 0 0 -0.6em;
  position: absolute;
  top: -0.3em;
  width: 1.2em;
  z-index: 2;
}
#dpa-toolbar-search {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  color: #D54E21;
}
#dpa-toolbar-search:focus {
  border-color: #464646;
}
#dpa-toolbar-filter {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 28px;
  padding-left: 10px;
  width: 15%;
}
#dpa-toolbar-filter:hover {
  cursor: pointer;
}
#dpa-toolbar-views {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  border: 1px solid #464646;
  font-size: 13px;
  height: 28px;
  display: inline-block;
  margin: 0 0;
  padding-right: 2px;
  width: 60%;
}
#dpa-toolbar-views li {
  float: right;
  height: 100%;
  margin: 0;
  padding: 0;
}
#dpa-toolbar-views li a {
  display: block;
  height: 18px;
  margin: 2px 0 4px;
}
#dpa-toolbar-views li.label {
  border-left: 1px solid #464646;
  height: 100%;
  margin: 0 10px 0 10px;
}
#dpa-toolbar-views li.label p {
  margin: 6px 0 4px 10px;
}
#dpa-toolbar-views li.dpa-toolbar-slider label {
  display: inline-block;
  float: left;
  height: 100%;
  margin: 6px 0 4px 10px;
}
#dpa-toolbar-views .detail,
#dpa-toolbar-views .list,
#dpa-toolbar-views .grid {
  height: 18px;
  width: 18px;
  margin-left: 2px;
}
#dpa-toolbar-views .detail {
  background: url('../images/admin_sprites.png') 0px 0px no-repeat;
}
#dpa-toolbar-views .detail.current,
#dpa-toolbar-views .detail:hover {
  background: url('../images/admin_sprites.png') 0px -22px no-repeat;
}
#dpa-toolbar-views .list {
  background: url('../images/admin_sprites.png') -20px 0px no-repeat;
}
#dpa-toolbar-views .list.current,
#dpa-toolbar-views .list:hover {
  background: url('../images/admin_sprites.png') -20px -22px no-repeat;
}
#dpa-toolbar-views .grid {
  background: url('../images/admin_sprites.png') -40px 0px no-repeat;
}
#dpa-toolbar-views .grid.current,
#dpa-toolbar-views .grid:hover {
  background: url('../images/admin_sprites.png') -40px -22px no-repeat;
}
#dpa-toolbar-wrapper {
  font-size: 0;
  height: 26px;
}
#dpa-toolbar-wrapper > :first-child {
  border-right: 0;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
}
#dpa-toolbar-wrapper > :last-child {
  border-left: 0;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
}
.grid {
  *zoom: 1;
  text-align: center;
}
.grid:before,
.grid:after {
  display: table;
  content: "";
}
.grid:after {
  clear: both;
}
.grid a {
  display: inline-block;
  margin: 0 10px 6px 0;
}
.grid .plugin {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.list {
  *zoom: 1;
}
.list:before,
.list:after {
  display: table;
  content: "";
}
.list:after {
  clear: both;
}
.list .installed {
  font-weight: bold;
}
.list .contributors img {
  margin: 0 10px 0 0;
}
.list .plugin {
  width: 25%;
}
.list .plugin img {
  width: 100%;
}
.list .plugin img:hover {
  cursor: pointer;
}
.detail {
  *zoom: 1;
}
.detail:before,
.detail:after {
  display: table;
  content: "";
}
.detail:after {
  clear: both;
}
.detail > ul {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  height: 100%;
  width: 25%;
}
.detail > ul li.current,
.detail > ul li:hover {
  background-color: #464646;
  cursor: pointer;
}
#dpa-detail-contents {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 75%;
}
#dpa-detail-contents > div {
  display: none;
}
#dpa-detail-contents .current h3 {
  margin: 0 0 10px;
}
#dpa-detail-contents .current > div {
  margin: 10px 10px;
}
