// Variables.less
// Admin screen variables to easily change settings.
// -----------------------------------------------------

@toolbarLeftColumn: 50%;
@toolbarMidColumn:  15%;
@toolbarRightColumn: 100% - @toolbarLeftColumn - @toolbarMidColumn - 1%;

@toolbarBorderColour: #464646;
@toolbarSpacingTop: 6px;
@toolbarSpacingBottom: 4px;




@toolbarHeight: 45px;
@toolbarMargin: 10px;
@toolbarFontSize: 13px;

@toolbarFontColour: #5C5C5C;
@toolbarGradientTop: #EAEAEA;
@toolbarGradientBottom: #FAFAFA;
@toolbarMainBorderColour: rgb(208,208,208);
@toolbarRaisedBorderColour: rgb(190,190,190);
@toolbarSunkenBorderColour: rgb(186,186,186);
@toolbarSunkenBorderColourBottom: rgb(223,223,223);