// Variables.less
// Admin screen variables to easily change settings.
// -----------------------------------------------------

@toolbarLeftColumn: 25%;
@toolbarMidColumn:  15%;
@toolbarRightColumn: 100% - @toolbarLeftColumn - @toolbarMidColumn;

@toolbarBorderColour: #DFDFDF;
@toolbarSpacingTop: 6px;
@toolbarSpacingBottom: 4px;
@toolbarSpacingSeparator: 10px;