// admin-forms.less
// Form appearance stuff.
//
// Taken from Formalize CSS http://formalize.me/, under the MIT License
// http://www.opensource.org/licenses/mit-license.php.
// ------------------------------------------------------------------

.wp-admin input,
.wp-admin select {
	.background-clip(padding-box);
	.ie7-inline-block();
	box-shadow: none;
	display: inline-block;
	font-family: sans-serif;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: top;
}

// Inputs within a label
.wp-admin label select {
	display: block;
}
.wp-admin select {
	-webkit-appearance: textfield;
	width: 220px;  // default input width + 10px of padding that doesn't get applied
}
.wp-admin select:focus {
	box-shadow: none;
}
.wp-admin input[type="search"] {
	-webkit-appearance: none;
	width: 210px;
}