/**
 * supportedplugins.less
 * The stylesheet for Achievements' "Supported Plugins" admin screen
 */

// Mixins
@import "utility.less";

// Variables
@import "admin-variables.less";

// Form reset
@import "admin-forms.less";


/**
 * General page styles to fit in with the WordPress Admin UI
 */

#poststuff {
	margin-top: 18px;
}


/**
 * Everything to do with the search/filter Toolbar
 */

.detail,
.list,
.grid,
.dpa-toolbar-slider {
	display: none;
	margin-top: @toolbarSpacingSeparator;
}
#post-body-content .current {
	display: block;
}
#post-body-content .dpa-toolbar-slider.current {
	background: none;
	display: list-item;
}

#dpa-toolbar-search {
	.box-sizing(border-box);
	width: @toolbarLeftColumn;
}

#dpa-toolbar-filter {
	.box-sizing(border-box);
	width: @toolbarMidColumn;

	&:hover {
		cursor: pointer;
	}
}

#dpa-toolbar-views {
	.box-sizing(border-box);
	.ie7-inline-block();
	.toolbar();
	display: inline-block;
	margin: 0 0;
	padding-right: 2px;
	width: @toolbarRightColumn;

	li {
		float: right;  // @todo RTL
		height: 100%;
		margin: 0;
		padding: 0;

		a {
			display: block;
			height: 18px;
			margin: 2px 0 4px;
		}

		p.label {
			border-left: 1px solid @toolbarBorderColour;
			display: block;
			margin: 0 10px 0 0;
			padding: @toolbarSpacingTop 0 @toolbarSpacingBottom @toolbarSpacingSeparator;
		}
	}

	li.dpa-toolbar-slider {
		input {
			margin: 0 @toolbarSpacingSeparator 0 0;
		}

		label {
			display: inline-block;
			padding: @toolbarSpacingTop @toolbarSpacingSeparator @toolbarSpacingBottom 9px;
		}
	}

	.detail,
	.list,
	.grid {
		.square(18px);
		margin-left: 2px;
	}

	.detail {
		background: url( '../images/admin_sprites.png' ) 0px 0px no-repeat;

		&.current, &:hover {
			background: url( '../images/admin_sprites.png' ) 0px -22px no-repeat;
		}
	}

	.list {
		background: url( '../images/admin_sprites.png' ) -20px 0px no-repeat;

		&.current, &:hover {
			background: url( '../images/admin_sprites.png' ) -20px -22px no-repeat;
		}
	}

	.grid {
		background: url( '../images/admin_sprites.png' ) -40px 0px no-repeat;

		&.current, &:hover {
			background: url( '../images/admin_sprites.png' ) -40px -22px no-repeat;
		}
	}
}

#dpa-toolbar-wrapper {
	font-size: 0;  // Collapse space hack

	> :first-child {
		border-right: 0;
		   -webkit-border-top-left-radius: 3px;
		       -moz-border-radius-topleft: 3px;
		           border-top-left-radius: 3px;
		-webkit-border-bottom-left-radius: 3px;
		    -moz-border-radius-bottomleft: 3px;
		        border-bottom-left-radius: 3px;
	}

	> :last-child {
		border-left: 0;
		   -webkit-border-top-right-radius: 3px;
		       -moz-border-radius-topright: 3px;
		           border-top-right-radius: 3px;
		-webkit-border-bottom-right-radius: 3px;
		    -moz-border-radius-bottomright: 3px;
		        border-bottom-right-radius: 3px;
	}
}

.grid {
	.clearfix();
	text-align: center;

	a {
		display: inline-block;
		margin: 0 10px 6px 0;
	}

	.plugin {
		.border-radius(6px);
		.box-shadow();
	}
}

.list {
	.clearfix();

	.installed {
		font-weight: bold;
	}

	.contributors img {
		margin: 0 10px 0 0;
	}

	.plugin {
		width: @toolbarLeftColumn;

		img {
			width: 100%;

			&:hover {
				cursor: pointer;
			}
		}
	}
}

.detail {
	.clearfix();
}

#dpa-detail-list {
	float: left;
	height: 100%;
	width: @toolbarLeftColumn;

	li:hover {
		background-color: @toolbarBorderColour;
		cursor: pointer;
	}
}

#dpa-detail-contents {
	float: left;
}