<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<logging>
		<log type="junit" target="tests/phpunit/build/logs/junit.xml" logIncompleteSkipped="false"/>
	</logging>
	<testsuites>
		<testsuite>
			<directory suffix=".php">tests/phpunit/testcases/</directory>
		</testsuite>
	</testsuites>
</phpunit>
