/**
 * The stylesheet for Achievements' post type admin screen
 */
/**
 * Snippets of reusable CSS to develop faster and keep code readable.
 *
 * Mostly taken from Twitter Bootstrap http://twitter.github.com/bootstrap/
 * under the Apache License, Version 2.0.
 */
/**
 * Custom non-Bootstrap mixins
 */
/**
 * CSS3 animations
 */
/**
 * CSS3 animation keyframes
 */
/**
 * Utility mixins from Bootstrap
 */
/**
 * Clearfix
 *
 * For clearing floats like a boss h5bp.com/q
 */
/**
 * IE7 inline-block
 */
/**
 * Sizing shortcuts
 */
/**
 * Placeholder text color
 */
/**
 * CSS3 PROPERTIES
 */
/**
 * User select
 *
 * For selecting text on the page
 */
body #dpa-mb .inside {
  margin: 0 0;
  padding: 0 0;
}
#dpa-mb label {
  display: inline-block;
  min-width: 45%;
}
#dpa-mb .hint {
  color: #777;
  margin-bottom: 0;
}
#dpa-points,
#dpa-target,
#dpa-code {
  display: inline-block;
  width: 50%;
}
#dpa-type-event {
  margin-left: 10px;
}
#dpa_event_chzn {
  margin-top: 10px;
  width: 100% !important;
}
#dpa_event_chzn .default {
  color: #333333;
  height: 100%;
  width: 100% !important;
}
#dpa_event_chzn .chzn-choices {
  background-color: transparent;
  background-image: none;
  border: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#dpa_event_chzn.chzn-container-active .chzn-drop {
  margin-top: 1px;
  position: static;
}
#dpa_event_chzn.chzn-container-active .chzn-choices {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#dpa_event_chzn .search-choice {
  background: #f3f3f3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
  background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
  border-color: #ccc;
  -webkit-box-shadow: inset 0 0 1px 2px rgba(255, 255, 255, 0.9);
  -moz-box-shadow: inset 0 0 1px 2px rgba(255, 255, 255, 0.9);
  box-shadow: inset 0 0 1px 2px rgba(255, 255, 255, 0.9);
  color: #464646;
  font-size: 12px;
  min-height: 15px;
  line-height: 17px;
  margin: 5px 5px;
  padding: 0.25em 1.5em 0.35em 0.8em;
  text-shadow: 1px 1px 0 #fff;
}
#dpa_event_chzn .chzn-results .group-result {
  color: #333333;
}
#dpa_event_chzn .chzn-results .highlighted {
  background-color: #21759b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2a95c5), to(#21759b));
  background-image: -webkit-linear-gradient(top, #2a95c5, #21759b);
  background-image: -moz-linear-gradient(top, #2a95c5, #21759b);
  background-image: -o-linear-gradient(top, #2a95c5, #21759b);
  background-image: linear-gradient(to bottom, #2a95c5, #21759b);
  border-color: #21759b;
  border-bottom-color: #1e6a8d;
  -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
  box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
  color: #fff;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
}
#dpa-event,
.chzn-drop {
  width: 100% !important;
}
