/**
 * Tweak these variables to change things with minimal CSS.
 */

// Notifications
@notificationsBorderColour: rgba(0, 0, 0, 0.2);
@notificationsGradientBottom: #FFC940;
@notificationsGradientTop: lighten(@notificationsGradientBottom, 15%);
@notificationsTextShadowColour: rgba(0, 0, 0, 0.1);
@notificationsLinkColour: #404040;
@notificationsHighlightColour: #000;


// Theme compat
@themeCompatMargin: 0.75rem;
@themeCompatSmallFont: 12px;
@themeCompatSubtleBorder: #ddd;

@noticeBackgroundColour: #ffffe0;
@noticeBorderColour: #e6db55;
@noticeTextColour: #000;
@noticeBorderRadius: 3px;
@noticeLinkColour: #555;
@noticeLinkHoverColour: #000;
@noticeInfoBackgroundColour: #f0f8ff;
@noticeInfoBorderColour: #cee1ef;
@noticeImportantBackgroundColour: #fffbcc;
@noticeImportantBorderColour: #e6db55;
@noticeErrorBackgroundColour: #ffebe8;
@noticeErrorBorderColour: #c00;
