// admin-variables.less
// Admin screen variables to easily change settings.
// -----------------------------------------------------

// Admin templates
@toolbarHeight: 45px;
@toolbarMargin: 10px;
@toolbarFontColour: #5C5C5C;
@toolbarGradientTop: #EAEAEA;
@toolbarGradientBottom: #FAFAFA;
@toolbarMainBorderColour: rgb(208,208,208);
@toolbarRaisedBorderColour: rgb(190,190,190);
@toolbarSunkenBorderColour: rgb(186,186,186);
@toolbarSunkenBorderColourBottom: rgb(223,223,223);

@wpHeadingColour: #333;

@smallFont: 12px;
@mediumFont: 13px;
@largeFont: 15px;
@toolbarFontSize: 13px;

@metaboxWidth: 280px;
