/**
 * Snippets of reusable CSS to develop faster and keep code readable.
 *
 * Mostly taken from Twitter Bootstrap http://twitter.github.com/bootstrap/
 * under the Apache License, Version 2.0.
 */
// ------------------------------------------------------------------

/**
 * Custom non-Bootstrap mixins
 */

/**
 * CSS3 animations
 */
.animation-slidedown(@slidedown: dpaSlideDown 2.5s 3s 1 ease forwards) {
	-moz-animation:    @slidedown;
	-webkit-animation: @slidedown;
	animation:         @slidedown;
}

/**
 * CSS3 animation keyframes
 */
.dpaSlideDown-keyframes-translateY(@startY: 0px, @endY: 0px) {
	@-moz-keyframes dpaSlideDown {
		0%        { -moz-transform: translateY(@startY); }
		15%, 100% { -moz-transform: translateY(@endY); }
	}

	@-webkit-keyframes dpaSlideDown {
		0%        { -webkit-transform: translateY(@startY); }
		15%, 100% { -webkit-transform: translateY(@endY); }
	}

	@keyframes dpaSlideDown {
		0%        { transform: translateY(@startY); }
		15%, 100% { transform: translateY(@endY);	}
	}
}

/**
 * Utility mixins from Bootstrap
 */

/**
 * Clearfix
 *
 * For clearing floats like a boss h5bp.com/q
 */
.clearfix() {
	*zoom: 1;
	&:before,
	&:after {
		display: table;
		content: "";
	}
	&:after {
		clear: both;
	}
}

/**
 * IE7 inline-block
 */
.ie7-inline-block() {
	*display: inline; /* IE7 inline-block hack */
	*zoom: 1;
}

// IE7 likes to collapse whitespace on either side of the inline-block elements.
// Ems because we're attempting to match the width of a space character. Left
// version is for form buttons, which typically come after other elements, and
// right version is for icons, which come before. Applying both is ok, but it will
// mean that space between those elements will be .6em (~2 space characters) in IE7,
// instead of the 1 space in other browsers.
.ie7-restore-left-whitespace() {
	*margin-left: .3em;

	&:first-child {
		*margin-left: 0;
	}
}

.ie7-restore-right-whitespace() {
	*margin-right: .3em;

	&:last-child {
		*margin-left: 0;
	}
}

/**
 * Sizing shortcuts
 */
.size(@height: 18px, @width: 18px) {
	height: @height;
	width: @width;
}
.square(@size: 18px) {
	.size(@size, @size);
}

/**
 * Placeholder text color
 */
.placeholder(@color: @placeholderText) {
	:-moz-placeholder {
		color: @color;
	}
	::-moz-placeholder {
		color: @color;
	}
	::-webkit-input-placeholder {
		color: @color;
	}
	:-ms-placeholder {
		color: @color;
	}
}


/**
 * CSS3 PROPERTIES
 */

.border-radius(@radius: 3px) {
	-webkit-border-radius: @radius;
	   -moz-border-radius: @radius;
	        border-radius: @radius;
}

.box-shadow(@shadow: 0 1px 3px rgba(0,0,0,.25)) {
	-webkit-box-shadow: @shadow;
	   -moz-box-shadow: @shadow;
	        box-shadow: @shadow;
}
.box-shadow(@shadow: inset 0 1px 3px rgba(0,0,0,.25)) {
	-webkit-box-shadow: @shadow;
	   -moz-box-shadow: @shadow;
	        box-shadow: @shadow;
}

.transition(@transition) {
	-webkit-transition: @transition;
	   -moz-transition: @transition;
	    -ms-transition: @transition;
	     -o-transition: @transition;
	        transition: @transition;
}

// Transformations
.rotate(@degrees) {
	-webkit-transform: rotate(@degrees);
	   -moz-transform: rotate(@degrees);
	    -ms-transform: rotate(@degrees);
	     -o-transform: rotate(@degrees);
	        transform: rotate(@degrees);
}
.scale(@ratio) {
	-webkit-transform: scale(@ratio);
	   -moz-transform: scale(@ratio);
	    -ms-transform: scale(@ratio);
	     -o-transform: scale(@ratio);
	        transform: scale(@ratio);
}
.translate(@x: 0, @y: 0) {
	-webkit-transform: translate(@x, @y);
	   -moz-transform: translate(@x, @y);
	    -ms-transform: translate(@x, @y);
	     -o-transform: translate(@x, @y);
	        transform: translate(@x, @y);
}
.skew(@x: 0, @y: 0) {
	-webkit-transform: skew(@x, @y);
	   -moz-transform: skew(@x, @y);
	    -ms-transform: skew(@x, @y);
	     -o-transform: skew(@x, @y);
	        transform: skew(@x, @y);
}

// Heads up: FF 3.6 and under need "padding" instead of "padding-box"
.background-clip(@clip) {
	-webkit-background-clip: @clip;
	   -moz-background-clip: @clip;
	        background-clip: @clip;
}

.background-size(@size){
	-webkit-background-size: @size;
	   -moz-background-size: @size;
	     -o-background-size: @size;
	        background-size: @size;
}

.box-sizing(@boxmodel) {
	-webkit-box-sizing: @boxmodel;
	   -moz-box-sizing: @boxmodel;
	        box-sizing: @boxmodel;
}

/**
 * User select
 *
 * For selecting text on the page
 */
.user-select(@select) {
	-webkit-user-select: @select;
	   -moz-user-select: @select;
	     -o-user-select: @select;
	        user-select: @select;
}

// Resize anything
.resizable(@direction: both) {
	resize: @direction;  // Options: horizontal, vertical, both
	overflow: auto;      // Safari fix
}

// CSS3 Content Columns
.content-columns(@columnCount, @columnGap: @gridColumnGutter) {
	-webkit-column-count: @columnCount;
	   -moz-column-count: @columnCount;
	        column-count: @columnCount;
	-webkit-column-gap: @columnGap;
	   -moz-column-gap: @columnGap;
	        column-gap: @columnGap;
}

// Opacity
.opacity(@opacity: 100) {
	opacity: @opacity / 100;
	filter: e(%("alpha(opacity=%d)", @opacity));
}

// Reset filters for IE
.reset-filter() {
	filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}