/*! http://wordpress.org/extend/plugins/achievements/
*/

/**
 * Notifications markup
 */

// Mixins
@import "../../../../includes/admin/css/dev/utility.less";
@import "variables.less";

#dpa-notifications-wrapper {
	background: @notificationsBackgroundColour;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999;
}

#dpa-notifications {
	.border-radius(@noticeBorderRadius);
	.box-shadow(0px 0px @themeCompatMargin*2 rgba(0, 0, 0, 0.6));
	background: @notificationsForegroundColour;
	left: 18%;
	position: fixed;
	top: 18%;
	width: 64%;
	z-index: 999999;

	.dpa-achievement-unlocked-thumbnail {	.border-radius(100rem);	}
	> div { margin: @notificationsMarginV @notificationsMarginH; }

	p {
		line-height: 1.5;
		margin-bottom: 0;
		text-align: center;
	}

	img {
		display: block;
		margin: 0 auto @themeCompatMargin*2;
	}

	h1 {
		color: inherit;
		display: block;
		font-size: @notificationsLargeFontSizePx;
		font-weight: 300;
		margin-bottom: @themeCompatMargin*2;
		text-align: center;
		text-transform: uppercase;
	}

	h2 {
		font-size: @notificationsLargeFontSizePx;
		margin-bottom: @themeCompatMargin;
		text-align: center;
	}
}

#dpa-notifications .dpa-notification-cta {
	.border-radius(@noticeBorderRadius);
	background: @notificationsCTAColour;
	color: @notificationsForegroundColour;
	display: block;
	margin: @themeCompatMargin*2 0;
	padding: @themeCompatMargin*2 0;
	text-align: center;
	text-decoration: none;
}

@media screen and (max-width: 800px) {

	#dpa-notifications {
		left: 0;
		top: 28px;
		width: 100%;
	}
}