.dpa_achievements_page_achievements-plugins #poststuff {
	margin-top: 18px;
}
.plugin-title {
	height: 250px;
	margin: 0;
	position: relative;
	width: 772px;
}
.plugin-title div {
	background: rgba( 0, 0, 0, 0.6 );
	bottom: 0;
	left: 0;
	padding: 20px 30px;
	position: absolute;
	right: 0;
}
.plugin-title .vignette {
	background: transparent;
	top: 0;
	-webkit-box-shadow: inset 0 0 50px 4px rgba( 0, 0, 0, 0.2 ), inset 0 -1px 0 rgba( 0, 0, 0, 0.1 );
	-moz-box-shadow: inset 0 0 50px 4px rgba( 0, 0, 0, 0.2 ), inset 0 -1px 0 rgba( 0, 0, 0, 0.1 );
	box-shadow: inset 0 0 50px 4px rgba( 0, 0, 0, 0.2 ), inset 0 -1px 0 rgba( 0, 0, 0, 0.1 );
}
#poststuff .plugin-title h2 {
	background: rgba( 30, 30, 30, 0.9 );
	bottom: 20px;
	color: #fff;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 30px;
	font-weight: bold;
	left: 30px;
	margin: 0 0 8px;
	padding: 8px 15px;
	position: absolute;
	box-shadow: 0 0 30px rgba( 255, 255, 255, 0.1 );
	-webkit-border-radius: 8px;
	border-radius: 8px;
	text-shadow: 0 1px 3px rgba( 0, 0, 0, 0.4 );
	-webkit-box-shadow: 0 0 30px rgba( 255, 255, 255, 0.1 );
	-moz-box-shadow: 0 0 30px rgba( 255, 255, 255, 0.1 );
}
.plugin-description {
	background: #eee;
	border-top: 1px solid #fcfcfc;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 25px;
	overflow: hidden;
	padding: 30px 15px 30px 30px;
	text-shadow: 0 1px 1px #fff;
	width: 727px;

	-webkit-box-shadow: inset 0 0px 42px 0px rgba( 100, 100, 100, 0.1 );
	-moz-box-shadow: inset 0 0px 42px 0px rgba( 100, 100, 100, 0.1 );
	box-shadow: inset 0 0px 42px 0px rgba( 100, 100, 100, 0.1 );
}
.plugin-description .shortdesc {
	float: left;
	font-family: Georgia, "Bitstream Vera Serif", "Times New Roman", serif;
	margin: 0;
	width: 502px;
}



.plugin-description p.achievements-button {
	float: right;
	margin-top: -8px;
}
.plugin-description p.achievements-button a {
	float: right;
	font-size: 14px;
	line-height: 20px;
	padding: 5px 8px;
	text-decoration: none;
	font-weight: bold;
}

.plugin-description p.achievements-button.alt a {
	background: #fff;
}
.plugin-description p.achievements-button a {
  background: #e3e3e3;
  border: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  -moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
  -ms-box-shadow: inset 0 0 1px 1px #f6f6f6;
  -o-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #5f9e3f;
  line-height: 1;
  padding: 8px 0 9px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 150px;
}
.plugin-description p.achievements-button.alt a:hover {
	background: #f2f2f2;
}
.plugin-description p.achievements-button a:hover {
    background: #d9d9d9;
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    -moz-box-shadow: inset 0 0 1px 1px #eaeaea;
    -ms-box-shadow: inset 0 0 1px 1px #eaeaea;
    -o-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #335522;
    cursor: pointer;
}
.plugin-description p.achievements-button.alt a:active {
	background: #e5e5e5;
}
  .plugin-description p.achievements-button a:active {
    background: #d0d0d0;
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    -moz-box-shadow: inset 0 0 1px 1px #e3e3e3;
    -ms-box-shadow: inset 0 0 1px 1px #e3e3e3;
    -o-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #28431b;
}